.headerContainer {
  width: 100%;
  height: 80px;
}

.headerSurface {
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.menuButton {
  height: 40px;
  width: 40px;
}

.logoIcon {
  height: 40px;
  width: 40px;
}
