.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.firstSection {
  height: 80vh;
}

.sectionHeading {
  text-align: center;
  padding-bottom: 32px;
}
