.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 64px;
}

.firstSection {
  height: 90vh;
}

.sectionHeading {
  text-align: center;
  padding-bottom: 32px;
}

.carousel {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
}

.animating {
  animation: slide-in .5s forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
