.headerContainer {
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.actionsContainer {
  display: flex;
  gap: 8px;
  
  .actionIcon {
    width: 24px;
    height: 24px;
    color: var(--color-text-default)
  }
}

.title {
  text-wrap: nowrap;
}