.buttonContainer {
  all: unset;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-width: 0;
  cursor: pointer;
  border-radius: 4px;
  
  &:hover {
    filter: brightness(0.9);
  }
}

.buttonSurface {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 8px;

  border-radius: 4px;
}

.variant {
  &-transparent {
    &:hover {
      background-color: var(--color-surface-default);
    }
  }

  &-primary {
    color: var(--color-text-inversed);
  }

  &-error {
    color: var(--color-surface-error);
  }
}
