#root {
  --color-surface-default: #ffffff;
  --color-surface-inversed: #333333;
  --color-surface-primary: #89c2f0;
  --color-surface-secondary: #f5f5f5;
  --color-surface-alert: #ff9800;
  --color-surface-success: #4caf50;
  --color-surface-warning: #ffeb3b;
  --color-surface-info: #00bcd4;
  --color-surface-error: #f44336;
}
