#theme-provider {
  --color-text-primary: #2196f3;
  --color-text-secondary: #9e9e9e;
  --color-text-alert: #ff9800;
  --color-text-success: #4caf50;
  --color-text-warning: #ffeb3b;
  --color-text-info: #00bcd4;
  --color-text-error: #f44336;
}

#theme-provider[data-theme="dark"] {
  --color-text-default: #FFFFFF;
  --color-text-inversed: #000000;
}