.card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .sessionCardContent {
        padding: 0 16px 16px 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }
}
