.globalLayoutContainer {
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

.globalLayoutOutletContainer {
  padding: 32px;
  height: 100%;
  width: 100%;
}

.mainContainer {
  height: 100%;
  width: 100%;
}
